.navWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navList{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(183, 119, 243);
    border-radius: 10px;
    padding: 15px;
}


.navList li{
    list-style-type: none;
    margin: 0 5px;
    color: black;
}

.link{
    font-size: 20px;
    text-decoration: none;
    color: black;
    background-color: blueviolet;
    border-radius: 5px;
    padding: 5px 10px;
}

.link:hover{
    background-color: rgb(167, 82, 247);
    padding: 10px 10px;
}