.photoWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
}
.photoWrapper img{
    width: 300px;
    height: 300px;
    margin-top: 15px;
}
.photoWrapper h1{
    font-size: 18px;
    font-weight: 100;
    font-family: 'Fuzzy Bubbles', cursive;
    text-transform: capitalize;
}

