body{
  background: url(./images/background.jpg); 
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}



.Logo {
  background-image: url(./images/logo.jpg);
}

.headWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.headWrapper h1{
  font-size: 3rem;
  background-color: black;
  color: whitesmoke;
  padding: 11px 10px;
  padding-right: 5px;
  border-radius: 15px;
}

.headWrapper span{
  font-size: 3rem;
  background-color: rgb(253, 106, 0);
  margin-left: 10px;
  border-radius: 15px;
  padding: 5px;
}

.pageWrapper{
  padding: 20px 60px;
  padding-bottom: 200px;
  background-color: rgba(15, 247, 255, 0.623);
}